/* 
    Palette
    #135E46
    #478966
    #73A788
    #E3C6AD
    #D09D7B
    #B67B65
*/

@font-face {
    font-family: DinosaurAlt;
    src: url('/assets/fonts/DinosaurAlt-YzvB4.ttf');
}

@font-face {
    font-family: Khorla;
    src: url('/assets/fonts/Khorla.ttf');
}

body {
    background-color: #73A788;
    text-align: center;
    align-items: center;
    color: #185844;
    font-family: Khorla, sans-serif;
}

header h1 {
    font-size: 4em;
    font-family: DinosaurAlt;
}

.left-jungle {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 90%;
    max-width: 30%;
    opacity: 0.3;
}

.right-jungle {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 30%;
    opacity: 0.3;
}

.content {
    position: relative;
    margin-top: 50px;
}

.loading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    opacity: 0;
    transition: all .3s;
}

.current-dino {
    transition: all .1s;
    position: absolute;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

.search {
    display: flex;
    justify-content: center;
}

#autocomplete {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #cce2c7;
    font-family: Khorla;
    color: #135E46;
}

#autocomplete:focus {
    outline: none;
    box-shadow: 0 0 10px #B67B65;
}

button {
    margin: 0 3px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    line-height: 100%;
    cursor: pointer;
    background-color: #E3C6AD;
    border: 2px solid #654438;
    display: flex;
    justify-content: center;
}

button:hover {
    box-shadow: 0 0 10px #B67B65;
}
